@model ECP.Core.Entities.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attrition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attrition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessTravel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessTravel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DailyRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DistanceFromHome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DistanceFromHome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EducationField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationField)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnvironmentSatisfaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnvironmentSatisfaction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobInvolvement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobInvolvement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobRole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobSatisfaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobSatisfaction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthlyRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthlyRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumCompaniesWorked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumCompaniesWorked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OverTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OverTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PercentSalaryHike)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PercentSalaryHike)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerformanceRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerformanceRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelationshipSatisfaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelationshipSatisfaction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StockOptionLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StockOptionLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalWorkingYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalWorkingYears)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkLifeBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkLifeBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsAtCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsAtCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsInCurrentRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsInCurrentRole)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsSinceLastPromotion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsSinceLastPromotion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsWithCurrManager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsWithCurrManager)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTrained)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTrained)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
